{{ define "title" }}Pages{{ end}}
{{ define "header" }}<h2>Pages</h2>{{ end }}
{{ define "content" }}
<h1>Page List</h1>
<ul>{{ range .storage.Pages }}
    <li><a href="/pages/{{ .Slug}}/">{{ .Name }}</a></li>{{ end }}
</ul>
<a id="display_page_form" href="#" class="button">Add Page</a>
{{ if .validationErrors }}
<div id="pageFormError" class="text-error">The page does not validate fix the error below</div>
{{ end }}
<form id="pageForm" action="" method="post" accept-charset="utf-8" class="hide">
    <fieldset>
        <input type="hidden" name="csrf_token" value="{{ .csrf_token }}">
        <div class="row">
            <div class="twelve columns">
                {{ if .validationErrors.Name }}<div class="text-error">{{ .validationErrors.Name }}</div>{{ end }}
                <label>name</label>
                <input type="text" name="name" value="" placeholder="name">
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                {{ if .validationErrors.Slug }}<div class="text-error">{{ .validationErrors.Slug }}</div>{{ end }}
                <label>slug</label>
                <input type="text" name="slug" value="" placeholder="name">
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
               {{ if .validationErrors.Content }}<div class="text-error">{{ .validationErrors.Content }}</div>{{ end }}
               <label>content</label>
                <textarea name="content"></textarea>
            </div>
        </div>

        <p><input type="submit" value="Add" class="button"></p>
    </fieldset>
</form>
{{ end }}
{{define "sidebar" }}{{ end }}
{{define "footer" }}{{ end }}
